main {
  padding-top: 75px;
  margin-bottom: 75px;
  width: 80%;
  margin: 0 auto;
}

#page-title {
  margin-bottom: 75px;
  font-size: 1.5rem;
}

/* main h2 {
  margin-top: -70px;
  margin-bottom: 75px;
  font-weight: 100;
  font-size: 2rem;
} */

main img {
  width: 80%;
  margin-top: 50px;
  border: 1px solid rgb(160, 216, 214);
}

.main-p {
  font-weight: 100;
  padding: 50px;
  background-color: white;
  border: 1px solid rgb(160, 216, 214);
}

.savings {
  color: green;
  font-size: 1.3rem;
}

#benefits {
  margin-top: 75px;
}

.benefit-description {
  font-weight: 100;
}

@media only screen and (min-width: 700px) {
  .flex-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
  }

  #top-nav a img {
    margin-top: -1.8rem;
  }

  main {
    padding-top: 125px;
    margin-bottom: 75px;
  }

  main h1 {
    margin-bottom: 100px;
  }

  main p {
    width: 40%;
    margin-top: 50px;

    margin-right: 50px;
  }

  #main-img {
    width: 50%;
    height: 400px;
  }

  #benefits {
    width: 90%;
    margin: 0 auto;
    display: flex;
  }

  .benefits-card {
    width: 60%;
    margin-right: 0;
  }

  #descriptor-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    justify-items: center;
    margin-top: 100px;
  }

  #descriptor-container p {
    width: 90%;
  }

  /* #benefits {
    display: flex;
    justify-content: center;
  }

  */
}
